<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{{lf_title}}}</title>
	<meta name="description" content="{{{sect1_description}}}">
	<meta name="keywords" content="tox,instant messaging,secure,decentralized,friendly,github,open source,voice,calling">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="http://tox.im/assets/imgs/LockOnly.png">
	<link rel="shortcut icon" type="image/icon" href="./assets/imgs/favicon.ico">
	<!-- CSS -->
    <link rel="image_src" href="http://tox.im/assets/imgs/LockOnly.png">
	<link rel="stylesheet" href="./assets/css/custom.min.css">
	<link rel="stylesheet" href="./assets/css/tuktuk.min.css">
	<link rel="stylesheet" href="./assets/css/tuktuk.theme.min.css">
	<link rel="stylesheet" href="./assets/css/tuktuk.icons.min.css">
</head>
 
<body>
	
	<header class="bck light padding">
		<div class="row">
			<div class="column_6">
				<a href="."><img src="./assets/imgs/logo_head.png" alt="Logo Tox" class="logo on-left"></a>
			</div>
			<nav class="column_6 text right bold">
				<a href="#home">{{{nv_home}}}</a>
				<a href="#about">{{{nv_about}}}</a>
				<a href="#features">{{{nv_features}}}</a>
                <a href="#contribute">{{{nv_contribute}}}</a>
				<a href="//wiki.tox.im">{{{nv_wiki}}}</a>
				<a href="//dev.tox.im">{{{nv_blog}}}</a>
				<a href="https://www.facebook.com/toxproject"><span class="icon facebook" style="font-size: 15pt; float:right; margin-left:20px;"></span></a>
				<a href="https://twitter.com/ProjectTox"><span class="icon twitter" style="font-size: 15pt; float:right; margin-left:20px;"></span></a>                                
			</nav>
		</div>
	</header>
	
	<section class="bck dark padding" id="home">
		<div class="row text center book margin-bottom">
			<div class="column_10 offset_1">
				<img src="./assets/imgs/logo_main.png" alt="Logo" class="margin-bottom">
				<h1 class="color theme text bold center">{{{sect1_slogan}}}</h1>
				<h3 class="text thin center">{{{sect1_description}}}</h3>
			</div>
		</div>
		<div class="row text center">
			<div class="column_3 offset_3">
				<a href="https://github.com/irungentoo/ProjectTox-Core" class="button large secondary"><span class="icon info-sign"></span>{{{sect1_learnmore}}}</a>
			</div>
			<div class="column_3">
				<a href="#" class="button large disabled"><span class="icon download"></span>{{{sect1_download}}}</a><br>
				{{{sect1_notavail}}}
			</div>
		</div>
	</section>
	
	<section class="bck theme padding"  id="about">
		<div class="row text center book">
			<div class="column_10 offset_1">
				<h1 class="text bold color light">{{{sect2_abouttox}}}</h1>
				<h3>{{{sect2_aboutbody}}}</h3>
			</div>
		</div>
	</section>

	<section class="bck light padding" id="features">
		<div class="row text center book margin-bottom">
			<div class="column_10 offset_1">
				<h1 class="text bold">{{{sect3_coolfeatures}}}</h1>
			</div>
		</div>
		<div class="row text center">
			<div class="column_8 hide-tablet hide-phone">
				<img src="./assets/ss.png" alt="Screenshot" name="screenshot" class="full windows">
			</div>
			<div class="column_4 margin-bottom feature1">
				<span class="icon comment" style="font-size: 45pt;"></span>
				<h3 class="text bold">{{{sect3_messages}}}</h3>
				<p>{{{sect3_messages_blurb}}}</p>
			</div>
			<div class="column_4 margin-bottom">
				<span class="icon phone" style="font-size: 45pt;"></span>
				<h3 class="text bold">{{{sect3_voice}}}</h3>
				<p>{{{sect3_voice_blurb}}}</p>
			</div>
			<div class="column_4 margin-bottom">
				<span class="icon group" style="font-size: 45pt;"></span>
				<h3 class="text bold">{{{sect3_video}}}</h3>
				<p>{{{sect3_video_blurb}}}</p>
			</div>
		</div>
	</section>

	<section class="bck theme padding">
		<div class="row text center book margin-bottom">
			<div class="column_10 offset_1">
				<h1 class="text bold color dark">{{{sect4_principles}}}</h1>
			</div>
		</div>
		<div class="row text center book">
			<div class="column_4">
				<span class="icon eye-close" style="font-size: 100pt;"></span>
				<h3 class="text bold">{{{sect4_security}}}</h3>
				<p>{{{sect4_security_blurb}}}</p>
			</div>
			<div class="column_4">
				<span class="icon comments" style="font-size: 100pt;"></span>
				<h3 class="text bold">{{{sect4_easy}}}</h3>
				<p>{{{sect4_easy_blurb}}}</p>
			</div>
			<div class="column_4">
				<span class="icon github-alt" style="font-size: 100pt;"></span>
				<h3 class="text bold">{{{sect4_freedom}}}</h3>
				<p>{{{sect4_freedom_blurb}}}</p>
			</div>
		</div>
	</section>
	
	<section class="bck color padding"  id="contribute">
		<div class="row text center book margin-bottom">
			<div class="column_10 offset_1">
				<h1 class="text bold color theme">{{{sect5_contribute}}}</h1>
				<h3>{{{sect5_github}}}</h3>
			</div>
		</div>
		<div class="row">
			<div class="column_4 offset_4 text center">
				<a href="https://github.com/irungentoo/ProjectTox-Core" class="button large secondary"><span class="icon github"></span>{{{sect5_sourceongithub}}}</a>
			</div>
		</div>
	</section>
	
	<footer>
		<section class="bck dark padding">
			<div class="row margin-top margin-bottom">
				<div class="column_3">
					<p class="text bold big">{{{sect6_freesoftware}}}</p>
						{{{sect6_developers}}}
				</div>
				<div class="column_4 offset_1">
					<p class="text bold big">{{{sect6_mailinglist_title}}}</p>
						{{{sect6_mailinglist}}}
	                <form action="http://tox.us7.list-manage.com/subscribe/post?u=127f0bc6d65fa4f980565d751&amp;id=0cb34cab55" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	                	<div id="clear">
	                		<input type="email" value="" style="border-radius: 5px 0px 0px 5px !important;" name="EMAIL" class="mce-email" id="mce-EMAIL" placeholder="{{{sect6_email}}}" required>
	                	</div>
	                    <div id="clear1">
	                    	<button type="submit" style="margin-top: 3px; margin-left:-2px; border-radius: 0px 5px 5px 0px !important;" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button icon envelope"></button>
	                    </div>
	                </form>
				</div>
				<div class="column_3 offset_1">
					<p class="text bold big">{{{sect6_needhelp}}}</p>
						{{{sect6_githubtoirc}}}
				</div>
			</div>
		</section>
		<section class="bck light padding text small">
			<div class="row margin-top margin-bottom">
				{{#languages}}
				<a href="./{{{lang_shortcode}}}">{{{lang_name}}}</a>{{^last}}&nbsp; &middot; &nbsp;{{/last}}
				{{/languages}}
			</div>
		</section>
	</footer>
	
	<script src="./assets/js/screenshots.min.js"></script>
	<script type="text/javascript" defer="" async="" src="./piwik/piwik.js"></script>
	<script type="text/javascript">
	  var _paq = _paq || [];
	  _paq.push(["trackPageView"]);
	  _paq.push(["enableLinkTracking"]);
	
	  (function() {
	    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://projecttox.org/piwik/";
	    _paq.push(["setTrackerUrl", u+"piwik.php"]);
	    _paq.push(["setSiteId", "1"]);
	    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
	    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
	  })();
	</script>
</body>
</html>
